@charset "ISO-8859-1";

/*
fieldset 
{
	border: 1px solid #ABABAB !important;
	padding: 10px !important;
}
*/

.form-selection-block {
	padding: 3px;
}

.recommendation-small-text {
	font-size: 11px;
	color: #666666;
}

.recommendation-small-text a {
	font-size: 10px;
	color: #A4A4A4 !important;
	font-style: italic !important;
	text-decoration: none !important;
}

.ui-collapsible-content  {
	padding: 10px 0px !important;
}
